page-home {
    ion-navbar {
        .toolbar-content {
            display: flex;
        }

        button {
            color: white;

            &.logout {
                background: transparent;
                border: 0;
                font-size: 28px;
            }
        }
    }
}
