<!--
  Generated template for the DjRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{roomName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div class="button-wrapper">
    <button ion-button block large (click)="goToRequestPage()">Add Song Request</button>
    <button ion-button block large *ngIf="isActiveUserRoomCreator" (click)="closeRoom()">Close Room</button>
    <button ion-button block large *ngIf="!isActiveUserRoomCreator" (click)="leaveRoom()">Leave Room</button>
  </div>
</ion-content>
